body {
    padding: 0%;
    margin: 0%;
    
    background-color: gray;
}
.inicio {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 2;
    animation: iniPagWeb 15s both;
}
.logoInicio {
    width: 25vh;
    height: 25vh;
    animation: iniAnimate 15s infinite;
}
@keyframes iniAnimate {
    0% {opacity: 0; }
    10% {opacity: 1;}
    15% {opacity: 0;}
    25% {opacity: 1;}
    30% {opacity: 0;}
    40% {opacity: 1;}
    45% {opacity: 0;}
    55% {opacity: 1;}
    60% {opacity: 0;}
    70% {opacity: 1;}
    75% {opacity: 0;}
    85% {opacity: 1;}
    90% {opacity: 0;}
    100% {opacity: 1;
    }
}
@keyframes iniPagWeb{
    100% {
        margin-top: -500%;
    }
}
.contenedor-principal{
    height: 10vh;
    width: 100%;
    color: indigo;
    
    font-weight: bold;
    background-color: rgb(212, 172, 97);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    overflow: hidden;
}
.logo-OIT {
    height: 50px;
    width: 150px;
    margin-right: 20px;
    float: right;
    animation: aniLogo 5s infinite;
}
@keyframes aniLogo {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.Titulo {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3vh;
}
#map {
    height: 90vh;
    width: 100%;
    z-index: 0;
}
#legend {
    margin-bottom: 5vh;
    margin-right: 1vh;
}

#contenedor-mapa{
    margin: 0%;
    position: relative;
}
#imprimir-mapa{
    z-index: 1;
    padding: 0px;
    position: absolute;
    margin-left: 12px;
    font-weight: bold;
    margin-top: 80px;
	height: 30px;
	display: flex;
	border: none;
	color: #fff;
	background: #ffffff;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
    width: 30px;
}
#logo-boton-imprimir{
    margin-left: -5px;
}
.contenedor-mapa .btn-abrir-popup {
    z-index: 1;
    position: absolute;
    margin-left: 12px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 117px;
	padding: 0px;
	height: 30px;
	/* line-height: 40px; */
	border: none;
	color: #fff;
	background: #ffffff;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
    width: 30px;
}
.titulo-popup{
    color: white;
    
}
/* ------------------------- */
/* POPUP */
/* ------------------------- */

.contenedor-mapa .overlay {
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.contenedor-mapa .overlay.active{
    visibility: visible;
}
.contenedor-mapa .overlay .popup-popup{
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	width: 65%;
    max-height: 70%;
    overflow: auto;
    margin-bottom: -5%;
	
	/* transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0; */
}

.contenedor-mapa .overlay .popup-popup .btn-cerrar-popup {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: rgba(255,255,255, 0.5); /* Color de fondo */
	padding: 9px 15px; /* Relleno del boton */
	position: absolute;
	bottom: 20px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.contenedor-mapa .overlay .popup-popup .btn-cerrar-popup:hover {
    color: rgb(193, 193, 193);
    padding: 18px 30px; /* Relleno del boton */
    background-color: #E91E63; /* Color de fondo */
}

.contenedor-mapa .overlay .popup-popup .h3 {
	font-size: 36px;
    font-weight: bold;
	margin-bottom: 10px;
    background-color: rgba(170, 157, 89, 0.762);
    width: 100%;
    margin-top: 0px;
	/* opacity: 0; */
}
.contenedor-mapa .overlay .popup-popup .texto-info{
    font-size: 16px;
    text-align: justify;
    font-weight: 100;
    line-height: 20px;
    text-indent: 1cm;

}
.contenedor-mapa .overlay .popup-popup .texto-info .imagen-popup{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
.nivel-3 {
	text-align: left;
}
.nivel-2 {
	text-align: left;
}
.resaltar {
    color: indigo;
}
.IMG-CPA{
    width: 90%;
}
@media (min-width: 450px) {
    @media (max-width: 900px) {
        .Titulo {
            font-size: 2vh;
        }
    }
    .contenedor-mapa .overlay .popup-popup .h3{
        font-size: 30px;
    }
    .nivel-2{
        font-size: 20px;
    }
    
}

@media (max-width: 450px) {
    .Titulo {
        font-size: 1.5vh;
    }
    .contenedor-mapa .overlay .popup-popup .h3{
        font-size: 24px;
    }
    .nivel-2{
        font-size: 16px;
    }
}
/*==============================================================
Ajustes del panel emergente al hacer click en cada región 
de tipología de productor
=====================================================================*/
/*Configuración del sidebar*/
#sidebar-popup{
    border-radius: 10px;
    margin-top: 57vh;
    margin-left: 1vh;
    z-index: 2;
    position: absolute;
    width: 250px;
    height: auto;
    font-size: 9px;
    padding: 1px;
    color: indigo;
    background-color: rgba(208, 198, 198, 0.818);
    visibility: hidden;
  }
  #sidebar-popup.active{
    visibility: visible;
  }
  /*==========================================================*/
  /*Ajustes de la tabla de resumen de los primeros 3 datos*/
  /*==========================================================*/
  .titulo-sidebar{
    position: sticky;
    display: flex;
    top: 0;
    color: rgb(20, 44, 143);
    background: #147a19b2;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .tablaDatos {
    margin-top: 3px;
    margin-left: 3px;
    width: auto;
  }
  .tableEncab {
    display: flex;
    justify-content: space-around;  
    
  }
  .tableTr {
    border: 1px solid rgb(121, 121, 121);
    display: grid;
    text-align: center;  
   
  }
  
  .tableTh {
    border-bottom: 1px solid black;
    text-align: center;
    margin: 3px;
    
  }
  .td-sidebar{
    border-bottom: 1px solid black;
  }
  
  .tableTrpre {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    text-align: center;
  }
  .btn-close {
    position: relative;
    margin-left: 223px;
    padding: .25em .25em;
    color: rgb(0, 0, 0);
    background-color: rgba(103, 97, 97, 0.222);
    border: 0;
    border-radius: .25rem;
    
  }
  .btn-close-chart {
    position: relative;
    margin-left: 95%;
    padding: .25em .25em;
    color: rgb(0, 0, 0);
    background-color: rgba(103, 97, 97, 0.222);
    border: 0;
    border-radius: .25rem;
    
  }
  @media (max-width: 820px) {
    .btn-close-chart {
      margin-left: 90%;
      padding: 10px;
      
    }
    
  }
  @media (max-width: 520px) {
    .btn-close-chart {
      margin-left: 84%;
      padding: 10px;
      
    }
    
  }
  
  #imagen-sidebar{
    width: 50px;
    height: 50px;
    margin-left: 5px;
  
  }
  #myChart{
    width: 240px;
    height: 170px;
  }
  .contCharOpen{
    position: absolute;
    visibility: hidden;
  }
  .contCharOpen.active{
    position: absolute;
    z-index: 2;
    margin-top: 57vh;
    margin-left: 1vh;
    min-width: 250px;
    max-width: 600px;
    width: 60%;
    height: 205h;
    background-color: rgba(208, 198, 198, 0.902);;
    visibility: visible;
  }
  @media (max-height: 1050px) {
    .contCharOpen.active{
      margin-top: 45vh;
    }
    #sidebar-popup{
      margin-top: 45vh;
    }
  }
  @media (max-height: 800px) {
    .contCharOpen.active{
      margin-top: 35vh;
    }
    #sidebar-popup{
      margin-top: 35vh;
    }
  }

  #myChartOpen{
    width: 55%;
    height: 43%;
    min-width: 240px;
    max-width: 550px;
  }