body {
    padding: 0%;
    margin: 0%;
    
    background-color: gray;
}

.contenedor-principal{
    
    height: 10vh;
    width: 100%;
    color: indigo;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(212, 172, 97);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}
.logo-OIT {
    height: 50px;
    width: 150px;
    margin-right: 20px;
    float: right;
}
.Titulo {
    margin-left: 20px;
}
#map {
    height: 90vh;
    width: 100%;
    z-index: 0;
}
#legend {
    margin-bottom: 5vh;
    margin-right: 1vh;
}

#contenedor-mapa{
    margin: 0%;
    position: relative;
}
/* .btn-abrir-popup{
    z-index: 1;
    position: absolute;
    margin-left: 11px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 80px;
} */
.contenedor-mapa .btn-abrir-popup {
    z-index: 1;
    position: absolute;
    margin-left: 12px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 80px;
	/* padding: 0 20px; */
	height: 30px;
	/* line-height: 40px; */
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
    width: 30px;
}
.titulo-popup{
    color: white;
    
}
/* ------------------------- */
/* POPUP */
/* ------------------------- */

.contenedor-mapa .overlay {
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.contenedor-mapa .overlay.active{
    visibility: visible;
}
.contenedor-mapa .overlay .popup-popup{
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	width: 65%;
    max-height: 70%;
    overflow: auto;
    margin-bottom: -5%;
	
	/* transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0; */
}

.contenedor-mapa .overlay .popup-popup .btn-cerrar-popup {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: rgba(255,255,255, 0.5); /* Color de fondo */
	padding: 9px 15px; /* Relleno del boton */
	position: absolute;
	bottom: 20px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.contenedor-mapa .overlay .popup-popup .btn-cerrar-popup:hover {
    color: black;
    padding: 18px 30px; /* Relleno del boton */
    background-color: #E91E63; /* Color de fondo */
}

.contenedor-mapa .overlay .popup-popup .h3 {
	font-size: 36px;
    font-weight: bold;
	margin-bottom: 10px;
    background-color: lawngreen;
    width: 100%;
    margin-top: 0px;
	/* opacity: 0; */
}
.contenedor-mapa .overlay .popup-popup .texto-info{
    font-size: 16px;
    text-align: justify;
    font-weight: 100;
    line-height: 20px;
    text-indent: 1cm;

}
.contenedor-mapa .overlay .popup-popup .texto-info .imagen-popup{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
/*
/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
/* .popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; } */
/*
@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
*/